<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Transactions Manager</title>
</head>
<body>
<form action="storeNewTransaction" method="post">
    <label for="customerAccountID">Account ID:</label>
    <input id="customerAccountID" name="customerAccountID" required type="text">
    <br>
    <label for="transactionAmount">Transaction Amount:</label>
    <input id="transactionAmount" name="transactionAmount" required type="text">
    <br>
    <input name="Create Transaction" type="submit" value="Create Transaction"/>
</form>

</body>
</html>