<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bank system</title>
</head>
<body>

<h1> This is the bank system </h1>
<h1> the current username <span th:text="${username}"></span></h1>
<h1> the current token <span th:text="${token}"></span></h1>
<h1> the current worker port <span th:text="${workerPort}"></span></h1>
<br>

<form action="CreateNewAccount" method="GET">
    <input name="Create Customer Account" type="submit" value="Create Customer Account"/>
</form>

<form action="showCustomersAccounts" method="GET">
    <input name="Show Customers" type="submit" value="Show Customers"/>
</form>

<form action="addNewTransaction" method="GET">
    <input name="Make Transaction" type="submit" value="Make Transaction"/>
</form>

<form action="getCustomer" method="GET">
    <input name="Get Customer" type="submit" value="Get Customer"/>
</form>

<form action="getCustomer-transactions" method="GET">
    <input name="Show Customer Transactions" type="submit" value="Show Customer Transactions"/>
</form>

<form action="removeCustomer" method="GET">
    <input name="Remove Customer Account" type="submit" value="Remove Customer Account"/>
</form>


<a th:href="@{/}">Home Page</a>

</body>
</html>