<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bank System</title>
    <link href="/style.css" rel="stylesheet">
    <style>
        body {
            background-image: url("index-background.webp");
        }
    </style>

</head>
<body>

<div class="container">
    <h1>Bank System</h1>

    <div class="button-container">
        <form action="CreateNewAccount" method="GET">
            <button type="submit">Create New Account</button>
        </form>

        <form action="showCustomersAccounts" method="GET">
            <button type="submit">Show Customers Accounts</button>
        </form>

        <form action="addNewTransaction" method="GET">
            <button type="submit">Add New Transaction</button>
        </form>
    </div>
    <div class="button-container">
        <form action="getCustomer" method="GET">
            <button type="submit">Get Customer</button>
        </form>

        <form action="getCustomer-transactions" method="GET">
            <button type="submit">Get Customer Transactions</button>
        </form>

        <form action="removeCustomer" method="GET">
            <button type="submit">Remove Customer</button>
        </form>
    </div>

    <br>
    <br>
    <div class="button-container">
        <a th:href="@{/}">Home Page</a>
    </div>

</div>
</body>
</html>
