<!DOCTYPE html>
<html>
<head>
    <title>Bank System</title>
    <link href="/style.css" rel="stylesheet">

    <style>
        body {
            background-image: url("index-background.webp");
        }
    </style>

</head>
<body>

<div class="container">
    <h1>Welcome to the Bank System</h1>

    <p style="text-align: center">A simple website to help the bank employees with managing their customers
        accounts and transactions.</p>

    <div class="button-container">
        <form action="/userRegistration" method="get">
            <button type="submit">Bank System</button>
        </form>

        <form action="/adminRegistration" method="get">
            <button type="submit">Admin</button>
        </form>

        <form action="/newUser" method="get">
            <button type="submit">New User</button>
        </form>
    </div>
</div>
</body>
</html>
