<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration Failed</title>
    <link href="/style.css" rel="stylesheet">
    <style>
        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 30vh;
            width: 30vw;
        }
    </style>

</head>
<body>

<div class="container">
    <h1> Registration Failed </h1>
    <a th:href="@{/userRegistration}">Register Again</a>
</div>


</body>
</html>