<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Credentials</title>
</head>
<body>

<div class="container">
    <h1>User Credentials</h1>

    <h2>- username : <span th:text="${username}"></span></h2>
    <h2>- token : <span th:text="${token}"></span></h2>
    <h2>- database worker name : <span th:text="${workerName}"></span></h2>
    <h2>(You don't need to memorize the worker name)</h2>

    <br>
    <br>
    <br>

    <h2> Note: the token will expire in one hour!</h2>
    <!--    <form action="/" method="post">-->
    <!--        <button type="submit">Home Page</button>-->
    <!--    </form>-->
    <a th:href="@{/}">Home Page</a>
</div>
</body>
</html>