<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Credentials</title>
    <link href="/style.css" rel="stylesheet">
</head>
<body>


<div class="card">
    <div class="card-body">
        <h2 class="card-title">Credentials Information</h2>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <span class="font-weight-bold">Username:</span> <span th:text="${username}"></span>
            </li>
            <li class="list-group-item">
                <span class="font-weight-bold">Token:</span> <span th:text="${token}"></span>
            </li>
            <li class="list-group-item">
                <span class="font-weight-bold">Database worker name:</span> <span th:text="${workerName}"></span>
                (System Information)
            </li>
        </ul>
        <p class="card-text text-muted">
            Note: the token will expire in 3 hours.
        </p>
        <a class="btn btn-primary" th:href="@{/}">Home Page</a>
    </div>
</div>
</body>
</html>
